/private/

**/.venv/**
.venv/
**/venv/**

*.names*
*.csv*
**/.vscode/**

**/datasets/**
**/datas/**

**/__pycache__/**
.agents/

**/node_modules/**
# 로그 및 빌드 파일 제외 (선택)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# nginx 폴더
**/nginx-*/**

**/*.env**/**
**/.env
**/.env.*
!**/.env.example
!**/*.env.example/**